# Dependencies
node_modules/
*/node_modules/

# Environment Variables
.env
.env.*
!.env.example
*/.env
*/.env.*
!*/.env.example

# Production & Build Outputs
dist/
dist-ssr/
build/
*/dist/
*/build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & Editor files
.DS_Store
*/.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Coverage / Testing
coverage/
.nyc_output/

# Uploads
/backend/uploads
backend/uploads/
uploads/
